.second-article {
  text-align: center;
}
.second-article p {
  margin-top: 5px;
}
.slide-headers {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}
.arrow-con svg {
  margin-right: 10px;
}
.sidee-con {
  width: 260px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}
.slidee {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 650px) {
  .sidee-con {
    width: 100%;
  }
  .second-article p {
    font-size: 1.3rem;
  }
  .second-article h2 {
    font-size: 1.5rem;
  }
  .slidee {
    left: 0;
    animation: none;
  }
}
